@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

/* shared styles */

.display-flex {
    display: flex;
}

.text-primary {
    color: #FF900E;
}

/* dark-1 */
.dark-one {
    color: #131313;
}

/* dark-2 */
.text-gray {
    color: #424242;
}

/* dark-3 */
.text-light-gray {
    color: #727272;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary {
    background-color: #FF900E;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    padding: 25px 21px;
}

main,footer {
    max-width: 1440px;
    margin: 0 auto;
}

main>section {
    margin-top: 130px;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
}

/* header styles */

/* navber related styles */
.navber {
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-weight: 700;
    font-size: 2.8rem;
}

.nav-iteam {
    list-style: none;
    margin-right: 30px;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.13rem;
}

.navber,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

/* banner related styles */
.banner-content {
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-taitle {
    font-size: 4rem;
    font-weight: 700;
}

.banner-img {
    max-width: 100%;
}

/* team and feature related style */
.teams {
    align-items: center;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-right: 73px;
}

.team-img-container img {
    max-width: 100%;
}

.our-features {
    max-width: 537px;
}

#quick-list {
    font-weight: 500;
}

/* some facts related styles */
.fact-description {
    max-width: 542px;
    margin-bottom: 100px;
}

.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 190px;
}

.fact {
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 240px;
    height: 240px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fact-number {
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
}

.facct-taitle {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}

/*sponchere section*/
.sponchere-content-container {
    max-width: 542px;
    margin: 0 auto;
    text-align: center;
}

.sponchere-title {
    font-size: 2.8rem;
    font-weight: 700;
}

.sponchere-img-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 155px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    filter: grayscale(100%);
    margin-bottom: 100px;
}

/* footer section style */
footer{
    display: flex;
    justify-content: center;
align-items: center;
    background-color: #FFF4E7;
    height: 100px;
    border-radius: 8px;
}
.footer-descriptio{
    text-align: center;
    
}

/* responsive for small device */
@media screen and (max-width: 576px) {

    .navber,
    .nav-links,
    .teams {
        flex-direction: column;
    }

    .banner-taitle {
        font-size: 3rem;
    }

    .team-img-container {
        grid-template-columns: repeat(1, 1fr);
        margin: 0;
        justify-items: center;
    }

    .feature-title {
        font-size: 2rem;
    }

    .our-features {
        margin: 0 auto;
    }

    .facts-container {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 20px;
    }

    .fact {
        width: auto;
        margin-bottom: 10px;
    }

    .sponchere-img-container {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: 50px;
    }
}

/* responsive for medium devices */
@media screen and (min-width:576px) and (max-width:992px) {

    .teams,
    .team-img-container {
        flex-direction: column;
        justify-items: center;
    }

    main>section {
        margin-top: 50px;
    }

    .facts-container {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 30px;
        margin: auto;
    }

    .sponchere-img-container {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: 70px;
    }
}